Django==2.2.22
pytz==2017.2

django-admin-tools==0.8.1
django-blog-zinnia==0.18.1
django-contrib-comments==1.8.0
django-extensions==1.7.9
django-mptt==0.8.7
django-tagging==0.4.5
django-taggit==0.22.1
django-xmlrpc==0.1.7

beautifulsoup4==4.6.0
mots-vides==2015.5.11
olefile==0.44
pyparsing==2.2.0
regex==2017.5.26
six==1.10.0

Pillow==4.1.1
