{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Class Recordings" %} {{ course }}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Recordings" %} {{ course }}</li>
{% endblock %}

{% block main %}
    <ul>
        {% for recording in recordings %}
            <li><a href="{{ recording.url }}">
                {% trans 'Class' %} {{ session.num }}
                - {{ recording.session.date }}
                {% if recording.name %}- {{ recording.name }}{% endif %}
                - {% trans 'Part' %} {{ recording.class_part }}
            </a></li>
        {% endfor %}
    </ul>
{% endblock %}
