{% extends "base.html" %}
{% load blog_tags i18n mezzanine_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

{% blog_recent_posts 2 as recent_posts %}
{% if recent_posts %}
    <ul class="list-unstyled recent-posts">
        {% for recent_post in recent_posts %}
            <li>
                <h3><a href="{{ recent_post.get_absolute_url }}">
                {{ recent_post.title }}</a></h3>

                <p class="content">
                    {{ recent_post.content|richtext_filters|safe }}
                </p>
                {% if not forloop.last %}<hr>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h2>{% trans 'Programming with Python' %}</h2>
    <p>{% trans 'Welcome to your class.' %}</p>
{% endif %}
{% endblock %}
